<a href="https://colab.research.google.com/github/richardrusa8/cyp_2021/blob/main/26_enero_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas de Python 3
1. Es una estructura de daros lineal de 0 o n elementos. 
1. "Equivalentes" a los arreglos.
1. Pueden ser de diferentes tipo de dato. [1,2,32,12] , [1, True, 2.34, "hola"]
1. Pueden ser anidados, listas de listas.
["Meñón", ["manzana roja", "manzana amarilla"]  ] 
1. Su selector es de la forma: [ int ]
1. Son mutables.

In [1]:
#ejemplos
numeros=[4,2,45,7,83,3]
print(numeros)
print(numeros[2])

#una lista de 0 elementos
colores=[] #list()
type(colores) #averigua que tipo de dato es una variable cn la funcion type()
dias=list()
print(colores)
print(dias)

[4, 2, 45, 7, 83, 3]
45
[]
[]

In [2]:
#Pueden ser de diferentes tipo de datos
mi_lista=[1,2,3,"José",False,1.76,[5535231298,445558377442,5530708637]]
print(mi_lista)
print(mi_lista[5])
print(mi_lista[6][2])
print(mi_lista[3][3])
print(mi_lista[3][3::])

[1, 2, 3, 'José', False, 1.76, [5535231298, 445558377442, 5530708637]]
1.76
5530708637
é
é

In [3]:
frutas=["melon", "sandia", "kiwi", "aguacate", "mango","platano"]
print(frutas)
frutas[0]="Melón"
print(frutas)
frutas[1]=frutas[1].capitalize()
print(frutas)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'Sandia', 'kiwi', 'aguacate', 'mango', 'platano']

In [4]:
#Las listas son clases, por lo tanto tienen métodos
#ejem´plo: Append, agrega un elemento al final
frutas=["melon", "sandia", "kiwi", "aguacate", "mango","platano"]
frutas.append("Fresa")
print(frutas)

print("Ejemplo de copias")
otras_frutas=frutas.copy()
print(frutas)
print(otras_frutas)
print("")
otras_frutas[0]="Chico  Zapote"
print(otras_frutas)
print(frutas)
print("-----------")

print("Ejemplo de extend")

colores=["rojo", "verde","azul"]
frutas.extend(colores)
print(frutas)

print("Ejemplo insert")
print(f"Tamaño de la lista = {len(frutas)}")
frutas.insert(3,"Limón")
print(f"Tamaño de la lista = {len(frutas)}")
print(frutas)

print("Ejemplo REMOVE, eliminar el kiwi")
frutas.remove("kiwi")
print(frutas)


print("Ejemplo con el operador  del ")
del frutas[2] #operador de listas
print(frutas)

frutas.clear()
print(frutas)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
Ejemplo de copias
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']

['Chico  Zapote', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
-----------
Ejemplo de extend
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
Ejemplo insert
Tamaño de la lista = 10
Tamaño de la lista = 11
['melon', 'sandia', 'kiwi', 'Limón', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
Ejemplo REMOVE, eliminar el kiwi
['melon', 'sandia', 'Limón', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
Ejemplo con el operador  del
['melon', 'sandia', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
[]

In [ ]:
dir(frutas)

In [6]:
cosas = ["jose", True, 2, 3, 4, 5, "pedro", 1.23]
aux = []
for elemento in cosas:
    if type(elemento) != int:
        aux.append(elemento)
print(cosas)
print(aux)

['jose', True, 2, 3, 4, 5, 'pedro', 1.23]
['jose', True, 'pedro', 1.23]

In [7]:
#slicing sobre listas

frutas=["melon","sandia","kiwi","aguacate","mango","platano"]

print(frutas[1:4:])


sistemas_operativos=["Windows","Mac Os","Linux","Android"]
autos=["Ford","Mazda","Honda"]

cosas = [sistemas_operativos, autos]
print(cosas)
print(cosas[1])
print(cosas[0][2])
print(cosas[0][3][2:5:1])
print(cosas[1][1][4:1:-1])

['sandia', 'kiwi', 'aguacate']
[['Windows', 'Mac Os', 'Linux', 'Android'], ['Ford', 'Mazda', 'Honda']]
['Ford', 'Mazda', 'Honda']
Linux
dro
adz